<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-symbol-form></app-symbol-form>
  <pre>{{symbolsModel | json}}</pre>
  <aside>
    <select [(ngModel)]='selectedSymbol'>
      <option *ngFor='let item of symbolsModel'
      [value]='item.symbol'>{{item.symbol}}</option>
    </select>
    <pre>{{selectedSymbols}}</pre>
  </aside>
  <h4>{{oneStock.symbol}}</h4>
  <p>one plus two equals to {{1+2}}</p>

</div>

<div>  
  <ul>
    <li *ngFor='let item of portfolio'>{{item.symbol}}</li>
  </ul>
  <img [src]='picURL'/>
  <app-agree></app-agree>
  <app-renderer (editEvent)='editEventHandler($event)' 
    *ngFor='let item of portfolio' 
    [symbol] = 'item.symbol' 
    [qty] ='item.qty' 
    [price] = 'item.price'>
  </app-renderer>
  <h4>Currently editing {{editing}}</h4>
</div>
