 <!-- <form NgForm> -->
    <pre>{{combined}}</pre>
    <aside>
        <input required #spy='ngModel'
        [ngModelOptions]='{updateOn:"blur"}'
        placeholder="type a stock symbol" 
        [(ngModel)]='symbol'/>
        <br/>
        <input type='number' min='0' max='100' step='10' [(ngModel)]='qty'/>
    
    <p><span [hidden]='spy.valid || spy.pristine'>required an input for symbol</span></p>
    <button [disabled]='spy.invalid'>go</button>
    <p>{{spy.className}}</p>
    <p>{{symbol}}</p>
    <p>{{qty}}</p>
</aside>
    <!-- </form> -->